<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="container">
        <h1>Nettikauppa</h1>

        {% if session.user_id %}
        <p>
            Olet kirjautunut nimellä <a href="/user/{{ session.user_id }}">
                {{ session.username }}</a>
                <a href="/logout">Kirjaudu ulos</a>
        </p>
        
        {% endif %}

        <div>
            <a href="/">Etusivu</a>
            <a href="/find_item">Hae ilmoitusta</a>
            {% if session.user_id %}
            <a href="/add_item">Uusi ilmoitus</a>
            {% else %}
            <a href="/login">Kirjaudu sisään</a>
            <a href="/register">Luo tunnus</a>
            {% endif %}
        </div>

        {% for message in get_flashed_messages() %}
        <div class="info">
            {{ message }}
        </div>
        {% endfor %}

        {% block content %}{% endblock %}
    </div>
</body>

</html>